.pic{
    width:200px;
    height:auto;
    
    border-radius:10px;
  }

  .container {
    display: flex; /* Enable Flexbox */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Optional: Space between the items */
    gap: 20px; /* Add spacing between photo and text */
  }
  